version: "3.9"

services:
  db:
    image: postgres:17
    env_file:
      - ./backend/.env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    expose:
      - "5432"

  django:
    build: ./backend
    container_name: django-docker
    depends_on:
      - db
    expose:
      - "8000"
    env_file:
      - ./backend/.env
    volumes:
      - static_volume:/app/static

  nginx:
    build: ./frontend
    container_name: nginx-docker
    ports:
      - "80:80"
    depends_on:
      - django
    volumes:
      - ./nginx.default.conf:/etc/nginx/conf.d/default.conf
      - static_volume:/app/static

volumes:
  postgres_data:
  static_volume:
