version: "3.9"

services:
  db:
    image: postgres:17
    env_file:
      - ./backend/.env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    expose:
      - "5432"
    restart: unless-stopped

  django:
    build: ./backend
    container_name: django-docker
    depends_on:
      - db
    expose:
      - "8000"
    env_file:
      - ./backend/.env
    volumes:
      - static_volume:/app/static
    restart: unless-stopped

  nginx:
    build: ./frontend
    env_file:
      - ./frontend/.env
    container_name: nginx-docker
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - django
    volumes:
      - ./nginx.default.conf:/etc/nginx/conf.d/default.conf
      - static_volume:/app/static
      - ./certbot/conf:/etc/letsencrypt:ro
      - ./certbot/www:/var/www/certbot:ro
    restart: unless-stopped
    command: "/bin/sh -c 'while :; do sleep 6h & wait $${!}; nginx -s reload; done & nginx -g \"daemon off;\"'"

  certbot:
    image: certbot/certbot
    container_name: certbot-docker
    volumes:
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
    entrypoint: "/bin/sh -c 'trap exit TERM; while :; do certbot renew; sleep 12h & wait $${!}; done;'"
    restart: unless-stopped

volumes:
  postgres_data:
  static_volume:
